<launch>
    <param name="robot_description" textfile="$(find bunker_base)/urdf/agilex_bunker.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find bunker_viz)/rviz/bunker_model.rviz" />
</launch>
